@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_background: #000;
    --foreground: #ededed;
    --primary_color: #ee4d2d;
    --secondary_color: #d34023;
    --bg_1: #8e8e8e;
    --bg_2: #6a6a6a;
    --bg_3: #474747;
    --bg_4: #232323;
    --bg_5: #171717;
}

body, html {
    height: 100%;
    color: var(--foreground);
    background: var(--main_background);
    overflow-x: hidden; 
}
